@{
    ViewBag.Title = "Home Page";
}

<h2 class="text-center jumbotron" style="background-color:rgba(34,34,34,0.6); color:white;">Phono - A company with a clear purpose...</h2>


<img src="~/Images/Androids.jpg" class="img-responsive" />





